@font-face {
    font-family: fuente1;
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: fuente1;
    background-color: hsl(221, 100%, 96%);
    font-family: fuente1;
    font-weight: 500;
}